extends ../layouts/application.pug

block header
  = t('views.users.edit.title')

block content
  +formFor()(action=route('user', { id: user.id }) method='post')
    input(name="_method" type="hidden" value="PATCH")
    +input(user, 'email', errors)(type="text")
    +input(user, 'firstName', errors)(type="text")
    +input(user, 'lastName', errors)(type="text")
    +input(user, 'password', errors)(type="password")
    +submit(user)(value=t('views.users.edit.submit'))
