extends ../layouts/application.pug

block header
  = t('views.statuses.edit.title')

block content
  .row.justify-content-center
    .col-md-6
      +formFor()(action=route('status', { id: status.id }) method='post')
        input(name="_method" type="hidden" value="PATCH")
        +input(status, 'name', errors)(type="text")
        +submit(status)(value=t('views.statuses.edit.submit'))
