extends ../layouts/application.pug

block header
  = t('views.statuses.new.title')

block content
  .row.justify-content-center
    .col-md-6
      +formFor()(action=route('statuses') method='post')
        +input(status, 'name', errors, false)(type="text" placeholder='name')
        +submit(status)(value=t('views.statuses.new.submit'))
